.DS_Store
.venv/
__pycache__/
.ipynb_checkpoints/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

results/figures/*
results/tables/*
!results/figures/.gitkeep
!results/tables/.gitkeep

reports/final/*
!reports/final/.gitkeep
